#main-panel {
  flex: 1;
  background-color: var(--color-bg-light);
  margin: 0 0.6rem;
  border-radius: 1rem;
}

.clipboard-items {
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.clipboard-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.7rem;
}

.clipboard-item:hover {
  background-color: var(--color-bg-items-hover);
}

.device {
  font-size: 0.8rem;
  color: var(--color-text-muted);
}
